/* Aquí puedes agregar estilos específicos para el componente AddSale */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: left;
  }
  
  .success-message {
    color: green;
    margin-top: 10px;
  }
  